.carousel {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  user-select: none;
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  flex-flow: row nowrap;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.scrolling {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel > * {
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  flex: none;
}
